
.leftbar{
    flex: 2;
    position: sticky;
    height: calc(100vh - 70px);
    top: 70px;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}

.container{
 padding: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu span{
    font-size: 12px;
}
.menu-user{
 display: flex;
 align-items: center;
 gap: 10px;
}
.menu-user img{
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.menu-user span{
    font-size: 14px;
}
.item{
 display: flex;
 align-items: center;
 gap: 10px;
}
.item span{
    font-size: 14px;
}
hr{
    margin: 20px 0px;
    border: none;
    height: 0.5px;
    background-color: lightgray;
}