.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-card {
  display: flex;
  background-color: white;
  width: 50%;
  min-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}
.register-left {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.register-left-h1 {
  color: #555;
}
.register-left-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register-left-form input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.register-left-btn {
  width: 50%;
  background-color: #936eef;
  padding: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.register-right {
  width: 50%;
  background: linear-gradient(rgb(39, 11, 96, 0.5), rgb(39, 11, 96, 0.5)),
    url("https://plus.unsplash.com/premium_photo-1661351746328-052d79c51a9d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}
.register-right-h1 {
  font-size: 80px;
  line-height: 100px;
}
.register-right-span {
  font-size: 14px;
}
.register-right-btn {
  width: 50%;
  background-color: white;
  padding: 10px;
  color: rebeccapurple;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
