.post{
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
    border-radius: 20px;
}   
.post-container{
    padding: 20px;
}
.post-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-userinfo{
    display: flex;
    gap: 20px;
}
.post-userinfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.post-details{
    display: flex;
    flex-direction: column;
}
.name{
 font-weight: 500;
}
.date{
 font-size: 12px;
}
.content{
    margin: 20px 0px;

}
.content img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin: 20px 0;
}
.info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.post-item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
}